.beer-itam{
    margin-top: 5%;
    animation: slideTop;
    animation-duration: 1s;
    
    a{
        display: inline;
    }

    .middleText{
        text-align: center;
    }

    @keyframes slideTop {
        0%{
            transform: translateY(-150%);
            opacity: 0;
        }
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

.line{
    background-color: black;
    height: 1%;
    width:86%;
}