<div class="container beer-itam" (window:resize)="initSize()">
    <div class="row">
        <div class="col-1/2">
            <a href="#" (click)="doOnClick()">&times;</a>
        </div>
        <div class="col-8">
            <h2 [style.fontSize]="headerTwo">{{beerData.name}}</h2>
        </div>
        <div class="col-3">
            <h4 [style.fontSize]="headerFour">{{beerData.country}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col middleText">
            <h4 [style.fontSize]="headerFour">{{beerData.city}} - {{beerData.state}} </h4>
            <h5 [style.fontSize]="headerFive">{{beerData.street}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-1/2"></div>
        <div class="col-10" *ngIf="beerData.website_url!=''">
            <h5 [style.fontSize]="headerSix"><a [href]="beerData.website_url" target="_blank">{{beerData.name}} web</a></h5> <br>
        </div>
        <div class="col-11" *ngIf="beerData.website_url==''">
             <br>
        </div>
    </div>
</div>

