button:focus{
    box-shadow:none !important;
}
.slideAnima{
    animation: slideTop;
    animation-duration: 1s;
}

@keyframes slideTop {
    0%{
        transform: translateY(-150%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

.line{
    background-color: black;
    height: 1%;
    width:86%;
}

.lineAnima{
    animation: drowLine;
    animation-duration: 1.2s;
}

@keyframes drowLine {
    0%{
        width: 0%;
    }
    50%{
        width: 0%;
    }
    100%{
        width: 86%;
    }
}

.toLeft{
    animation: toLeftAnima;
    animation-duration: 0.6s;
    @keyframes toLeftAnima {
        0%{
            transform: translateX(0%);
            opacity: 1;
        }
        100%{
            transform: translateX(-12%);
            opacity: 0;
        }
    }
}

.fromRight{
    animation: fromRightAnima;
    animation-duration: 0.6s;
    @keyframes fromRightAnima {
        0%{
            transform: translateX(12%);
            opacity: 0;
        }
        100%{
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

.toRight{
    animation: toRightAnima;
    animation-duration: 0.6s;
    @keyframes toRightAnima {
        0%{
            transform: translateX(0%);
            opacity: 1;
        }
        100%{
            transform: translateX(12%);
            opacity: 0;
        }
    }
}

.fromLeft{
    animation: fromLeftAnima;
    animation-duration: 0.6s;
    @keyframes fromLeftAnima {
        0%{
            transform: translateX(-12%);
            opacity: 0;
        }
        100%{
            transform: translateX(0%);
            opacity: 1;
        }
    }
}